.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.game__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.game__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 160px;
    border: 1px solid black;
    font-size: 50px;
    cursor: pointer;
    background-color: beige;
}

.game__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 70px;
    background-color: aqua;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}

.start__timer {
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 40%;
    align-items: center;
    width: 270px;
    background-color: rgb(187, 68, 24);
    border-radius: 15px;
    font-size: 30px;
    padding: 20px;
}

.close-btn {
    display: none;
}